  <tr>
    <td><%= order.created_at %></td>
    <td><%= order.deliver_status %></td>
    <td><%= order.receiver %></td>
    <td><%= number_to_currency order.total_price, locale: params[:locale] %></td>
    <td><%= order.address %></td>
    <td>
      <button type="button" class="btn btn-info collap"><%= t ".details" %></button>
    </td>
  </tr>
