<div class="">
  <%= form_for @product, url: admin_products_path do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="field">
      <%= f.label t(".title") %>
      <%= f.text_field :title, placeholder: t(".placeholder"),
        class: "form-control form_custom_pro" %>
    </div>
    <div class="field">
      <%= f.label t(".category") %>
      <%= f.select :category_id, options_for_select(child_category),
        {prompt: t(".select_category")}, class:"form-control form_custom_pro" %>
    </div>
    <div class="field">
      <%= f.label t(".publisher_name") %>
      <%= f.text_field :publisher_name, class: "form-control form_custom_pro" %>
    </div>
    <div class="field">
      <%= f.label t(".author_name") %>
      <%= f.text_field :author_name, class: "form-control form_custom_pro" %>
    </div>
    <div class="field">
      <%= f.label t(".num_exist") %>
      <%= f.text_field :num_exist, class: "form-control form_custom_pro" %>
    </div>
    <div class="field">
      <%= f.label t(".price") %>
      <%= f.text_field :price, class: "form-control form_custom_pro" %>
    </div>
      <div class="field">
        <%= f.label t(".description") %>
        <%= f.text_area :description, class: "form-control form_custom_pro" %>
      </div>
    <div class="field">
      <%= f.file_field :picture, accept: Settings.file_accept %>
    </div>
    <%= f.submit t(".create"), class: "btn btn-primary btn_custom" %>
  <% end %>
</div>
