$('#<%= @review.id %>').replaceWith('<%= j render @review %>');
$('.form_edit').replaceWith('<%= j render partial: "form", locals: {product: @review.product} %>');
$('.review_size').html('<p class="review_size"><%= @review_size %><%= t ".rate" %></p>')
$('.review_rate').html('<p class="review_rate"><%= t ".average" %><%= @review_rate %><i class="fa fa-star active"></p>')
